@import "tailwindcss";

@theme {
  --color-gray-teal-pale: #f0f4f4;
  --color-gray-teal-light: #f4fafa;
  --color-gray-teal-soft: #ccdada;
  --color-gray-teal-muted: #9fb8b8;
  --color-gray-teal: #5f7d7e;
  --font-serif: "Merriweather", serif;
}

@layer base {
  h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-teal-800);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-widest);
    font-size: var(--text-sm);

    &::before {
      content: "";
      width: 2rem;
      height: 1px;
      background-color: var(--color-teal-200);
    }
  }
}

@utility timeline-item {
  position: relative;
  padding-left: 1.5rem;
  border-left-width: 2px;
  border-left-color: var(--color-teal-100);

  &::before {
    content: "";
    position: absolute;
    left: -9px;
    top: 0px;
    width: 1rem;
    height: 1rem;
    border-radius: var(--radius-full);
    border-width: 4px;
    border-color: var(--color-white);
  }
}

@utility timeline-active {
  &::before {
    background-color: var(--color-teal-500);
  }
}

@utility timeline-inactive {
  &::before {
    background-color: var(--color-slate-300);
  }
}

@utility insight-callout {
  background-color: rgb(240 253 250 / 0.5);
  border-left-width: 4px;
  border-left-color: var(--color-teal-200);
  padding: 1.5rem;
  margin-block: 2.5rem;
                     
  & p {
    font-size: 1rem;
    font-style: italic;

    & + p {
      margin-top: 2.5rem;
    }
  }
}

@utility contact-card-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  border-width: 1px;
  border-color: var(--color-slate-100);
  border-radius: var(--radius-2xl);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    border-color: var(--color-teal-200);
    background-color: rgb(240 253 250 / 0.3);
  }
}
